<html>
    <body>
	<h1>Hello World!</h1>

	<h2>HOSTNAME: <%= node['ipaddress'] %> </h2>
	<h2>IPADDRESS: <%= node['hostname'] %></h2>
	<img src="peacock.png" style="width:300px;height:300px;">
    </body>
</html>
